.flex {
    display: flex;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1 1 0%;
}

.min-w-0 {
    min-width: 0;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.justify-between {
    justify-content: space-between;
}

.gap-xs {
    gap: 0.5rem;
}

.gap-sm {
    gap: 0.75rem;
}

.gap-md {
    gap: 1rem;
}

.gap-lg {
    gap: 1.25rem;
}

.gap-xl {
    gap: 1.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.block {
    display: block;
}