
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

:root {
    --scrollbar-width: 8px;
    --c-divider-light: var(--el-color-info-light-7);
    --c-divider-dark: var(--el-color-info-light-5);
}
  
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

  /* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
  
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    -moz-scrollbar-width: none;  /* Firefox */
}

.outline-none {
    outline: 0;
}
  
::-webkit-scrollbar{
    width:var(--scrollbar-width);
}
::-webkit-scrollbar:horizontal{
    height:var(--scrollbar-width);
}
  
  
  
::-webkit-scrollbar-track{
    background: transparent;
}
  
::-webkit-scrollbar-thumb{
    transition: .2s ease background;
    background:var(--c-divider-light);
    border-radius:10px;
}
  
::-webkit-scrollbar-thumb:hover{
    background:var(--c-divider-dark);
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
  